/* Tablet Layout 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.header .main-navigation ul {
	padding-right: 0;
}
.header .main-navigation ul li {
	margin-right: 2px;
}
.header .main-navigation ul li a {
	padding: 18px 5px;
	font-size: 14px;
}
.post-main-slider .hemila-content {
	margin: 0 5px;
	top: 0;
	padding: 20px;
	top: -50px;
	margin-bottom: -50px;
}
.hemila-sidebar .widget-area {
	padding: 20px;
}
}
@media only screen and (max-width: 767px) {
.post-main-slider .hemila-content {
	margin: 0 5px;
	top: 0;
	padding: 20px;
	top: -50px;
	margin-bottom: -50px;
}
.top-date {
  float: none;
  text-align: center;
}
.top-right {
  float: none;
  text-align: center;
  margin-top: 5px;
}
#site-navigation{
	display:none;
}
.main-menu {
	padding: 15px 0;
}
.hemila-mobile-menu .menu-inner ul li ul li {
  border: none;
}
.hemila-mobile-menu .menu-inner ul li ul {
  border-left: 1px solid #ccc;
}
.hemila-mobile-menu{
	display:block;
}
.hemila-mobile-menu .menu-click {
	top: 0;
	left: 0;
	font-size: 30px;
}
.hemila-mobile-menu .menu-click a {
	color: #F48C1E;
	z-index: 3333;
	position: relative;
	font-size: 20px;
}
.hemila-mobile-menu .menu-click a span{
	padding-left:5px;
}
.hemila-mobile-menu .menu-inner {
	position: relative;
	padding: 0;
	padding-top: 22px;
	display: none;
	padding-bottom: 20px;
}
.hemila-mobile-menu .menu-inner.active{
	display:block;
}
.hemila-mobile-menu .menu-inner ul li {
	display: block;
	float: none;
	width: 100%;
	border-bottom: 1px solid #cccccc82;
}
.hemila-mobile-menu .menu-inner ul li:last-child{
	border:none;
}
.hemila-mobile-menu .menu-inner ul li a {
	padding: 0;
	display: block;
	width: 100%;
	padding: 10px 10px;
	color: #333;
}
.hemila-mobile-menu .menu-inner ul {
	display: block;
	padding: 0;
	margin: 0;
}
.hemila-mobile-menu .main-navigation ul li ul {
  position: relative;
  opacity: 1;
  visibility: visible;
  margin-left: 20px;
}
.header .hemila-mobile-menu ul li ul {
	position: relative;
	opacity: 1;
	visibility: visible;
	width: 100%;
	margin-left: 30px;
}
.hemila-mobile-menu .main-navigation ul li ul li a {
  color: #333;
}
.hemila-mobile-menu .close-menu {
	margin-top: 12px;
}
.hemila-mobile-menu .close-menu a {
	display: inline-block;
	border: 1px solid #ccc;
	background: #F4932C;
	color: #fff;
	padding: 6px 20px;
	border: none;
	border-radius: 30px;
	border:1px solid transparent;
}
.hemila-mobile-menu .close-menu a:hover,
.hemila-mobile-menu .close-menu a:focus{
	background:#2A2E40 !important;
	color:#fff;
	border-color:#F48C1E
}

.hemila-mobile-menu .close-menu a i {
	margin-right: 5px;
}
.header .social-widget {
	top: 3px;
}
#calendar_wrap {
	overflow: scroll;
}
}